 
    <label  class="flaotnone"> Enter Your Email: </label>
    <input  class="flaotnone" type="text" ng-model="userEmail" >
    <label  class="flaotnone" > Old Password: </label>
    <input type="password" class="flaotnone" ng-model="oldPassword" >
    <label class="flaotnone"  > New Password: </label>
    <input type="password" class="flaotnone" ng-model="newPassword" >
    <label  class="flaotnone" > Re-enter new password: </label>
    <input type="password" class="flaotnone" ng-model="confirmPass"  >
    <input type="button" class="userButton1" style="float:none;" value="Change Password" ng-click="submitChange(userEmail,oldPassword,newPassword,confirmPass)" >
    
     
   
  
   