<div id="dashboard"  ng-init="allmembers=[];user=true;">
<header>
  <section class="col-md-4 col-sm-4 col-xs-4 paddingRemove leftHeader">
    <!-- <a href=""  class="bluebutton" id="project"  ng-click="toggle()" title="View List of  Projects">Projects</a> -->
    <section class="dropdown" id="project" >
      <button class="btn btn-default  bluebutton dropProject dropdown-toggle" ng-click = "getAllProjects()" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Projects
      <span class="caret" style = "float:none; margin-bottom:0;"></span>
      </button>
      <div class="bluebutton  dropdown-toggle glyphicon glyphicon-list pList"     id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     
       </div>
      <ul class="dropdown-menu ul-projects" role="menu" aria-labelledby="dropdownMenu1" style="width:300px;">
      <li class="projectLabel" >My Projects</li>
      <li role="presentation" ng-repeat="x in owner_projects"   ng-click="showTasks(x)" >
      <span class="col-xs-1 thumb paddingRemove"></span>
      <div role="menuitem" class="col-xs-11 paddingRemove" tabindex="-1" >{{ x.name }}
      </div>
      </li>
      <li class="projectLabel">Member Projects</li>
      <li role="presentation" ng-repeat="x in member_projects" ng-click="showTasks(x)">
      <span class="col-xs-1 thumb paddingRemove"></span>
      <div role="menuitem" class="col-xs-11 paddingRemove" tabindex="-1" >{{ x.name }}</div>
      </li>
      </ul>
    </section>
    <section class="dropdown" id="project" >
      <a href=""  class="glyphicon glyphicon-plus invite add dropdown-toggle"   id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"  title="Add a New Project">
      </a>
      <div id="addProject" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-class="applyThis" >
        <form name="createProject" novalidate>
          <label class="col-xs-11 label"> Project Title</label>
          <div class="col-xs-1 text-right glyphicon glyphicon-remove  paddingRemove text-right cross " data-toggle="dropdown"></div>
          <input type ="text" ng-model= "projname" class="text" name="projectname" autofocus required> 
          <input type="button" class="addComment" name="create" value="Create" ng-click="callProject()">
  
        </form>
      </div>
    </section>
  </section>

  <section class="col-md-4 col-sm-4 col-xs-4 text-center paddingRemove">
    <article class="goback" ><img ng-src="public/kanban_1024.png" height="36" width="120">
   </article>
  </section>
 
  <section id="rightHeader"class="col-md-4 col-sm-4 col-xs-4 text-right paddingRemove">
    <span class="dropdown pull-right">
      <div class="dropdown-toggle bluebutton ng-binding" id="userName"  data-toggle="dropdown" aria-expanded="true" ng-bind="userCookie.name"  title="Account {{named}}" style="padding: 5px 10px;margin-left: 8px;">
      </div>
      <div   class="dropdown-menu userDropdown" role="menu" aria-labelledby="userName" >
        <div class="col-xs-12">
          <div class="col-xs-11 text-center user_name paddingRemove">{{named}}({{userEmail|limitTo:12}}{{userEmail.length>0 ? "..." : ""}})</div>
          <div class="col-xs-1 text-right glyphicon glyphicon-remove  paddingRemove text-right cross " data-toggle="dropdown"></div>
        </div>
        <ul class="col-xs-12 ul-userView">
        <li ng-click="showUserDetails()"> View Profile</li>
        <li ng-click ="addmember = true;" ng-show="teamview"> Team directory</li>
        <li ui-sref="change_password"> Change Password</li>
        <li ng-click="logout()"> Logout</li>
      
        </ul> 
      </div>
    </span>
    <span class="dropdown pull-right">
      <div class="bluebutton ng-binding firstName" id="userNameFirst"  title="Account {{named}}" style="padding: 4px 10px;margin-left: 8px;">
      {{named.charAt(0)}}
      </div>
    </span>
    <span class="dropdown pull-right">
      <a href=""   ng-show="project" title="Invite Friends" class="glyphicon glyphicon-plus invite dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      </a>
      <div id="addProject" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-class="applyThis" >
        <form name="createProject" novalidate>
          <label class="col-xs-11 label"> Enter Email-Id</label>
          <div class="col-xs-1 text-right glyphicon glyphicon-remove  paddingRemove text-right cross " data-toggle="dropdown"></div>
          <input type ="text" ng-model= "inviteEmail" class="text" name="projectname" autofocus required> 
          <input type="button" class="addComment" name="create" value="Invite" ng-click="inviteNow(inviteEmail)">
        </form>
      </div>
    </span>
    <span class="dropdown pull-right" >
      <img ng-show="project" ng-src="public/4.png" ng-click="showMembers()" style="height: 39px;padding: 5px;" title="Members" class="editimage dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <div id="memberList" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <ul   class="ul-members" >
          <li style="text-align:center;font-size:14px;color:grey;">
            <div class="col-xs-11"> Member</div>
            <div class="col-xs-1 text-right glyphicon glyphicon-remove  paddingRemove text-right cross " data-toggle="dropdown"></div>
          </li>
          <hr style="color:#d6dadc;margin:0px 2px;" >
          <li  id="{{$index}}" class="hello1" title="View Member Information" style="margin-top: 7px; cursor: pointer;" ng-repeat="member in allmembers track by $index" ng-click="showMemberDetails(member)">{{member}}
          </li>
        </ul>
    </div>
  </span>
 
 </section>
</header>


<div ui-view>
  
</div>
	
	

</div>
