<div class="col-xs-12 text-center verified_message_parent paddingRemove"> Kanban Team Welcomes You !
    <div class="col-xs-12 verified_message text-center paddingRemove" >
        <p> Congratulation ! Your registration is successfull.Please check your inbox and verify your email-id to continue login. Click on
            <a ui-sref="login" class="login_link" href=""> Login  </a> to proceed.</p>
    </div>
</div>
