<div class="col-md-3 col-sm-3 col-xs-2 divleft"></div>   
	
<form class="col-md-6 col-sm-6 col-xs-8 thisform"  id="box" 	 name="register" ng-init="duplicate=false" novalidate>
  
  <header class="col-md-10 col-sm-10 col-xs-12 paddingRemove" style="background-color:white;">Create an account on Task Manager</header>
  
  <label class="col-md-10 col-sm-10 col-xs-12 paddingRemove" for="username">Name </label>

	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove" type="text" ng-model="user" name="username" id="username"  
	placeholder="e.g.Mike Helmen" required> 

	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" style="color:red" ng-show="register.username.$dirty && register.username.$invalid">

	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="register.username.$error.required">Username Required</span>
	</span>
	
	<label class="col-md-10 col-sm-10 col-xs-12 paddingRemove" for="usermail">Email </label>
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove"  ng-model="mail" type="email" name="usermail" id="useremail" autofocus="off"  
	placeholder="e.g.,mike.helmen@custom.com" required>
	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" style="color:red" ng-show="register.usermail.$dirty && register.usermail.$invalid">
	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="register.usermail.$error.required">This can not be blank</span>
	<span  class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="register.usermail.$error.email">This is not a valid email address.</span>
	</span>
	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="duplicate" style="color:red;">This Email is already Registered.</span>
	
	<label class="col-md-10 col-sm-10 col-xs-12 paddingRemove" for="password">Password</label>
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove"   type="password" ng-model="pass" name="password" id="password" autofocus="off" placeholder="e.g.,********">

	<label class="col-md-10 col-sm-10 col-xs-12 paddingRemove" for="password1">Confirm Password</label>
	
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove"  type="password" name="password1" id="password1" ng-model="confirmpassword" autofocus="off" placeholder="e.g.,********">
	
	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" style="color:red;" ng-show="confirmP" > Password doesn't match </span>
	
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove" style="width:200px;" ng-disabled="register.username.$dirty && register.username.$invalid ||
  register.email.$dirty && register.email.$invalid" type="button" id="login" class="green button" value="Create New Account" tabindex="3" ng-click="add()">
	
	<p class ="col-md-10 col-sm-10 col-xs-12 paddingRemove dimm" >Already Have an Account?  <a ui-sref="login" style="text-decoration:underline">Log In</a></p>
</form>
<div class="col-md-3 col-sm-3 col-xs-2 divleft"></div>
   

