body
{ 
	margin:0;
}
html
{
	overflow:hidden;
	
}
select 
{
  display:block;
  width : 255px;
  height:30px;
  font-size: 13px;
}
section
{
	float:left;
	height:40px;
	clear:right;
}
#resetPassword 
{
	margin-top: 115px;
}
#resetPassword h1
{
	
	font-size: 50px;
	font-weight: bold;
	color:grey;
}
#resetmessage 
{ 
	font-size: 20px;
}
.container 
{

	margin :0;
	width:100%;
}
.bluebutton 
{ 
	
	background-color:rgba(127, 139, 190, 0.6);
	color: white; 
	font-size: 14px;
	
	text-decoration: none;
}
a .bluebutton:hover
{
  cursor:auto;
}
#dashboard 
{ margin:0; 
	 background-color: rgb(13, 102, 236);
	width:100%;
	position:relative;
}
header 
{   height: auto; 
	width:100%;
	margin:0px;
	background-color:#026aa7;
}
#leftHeader 
{
	float: left;
	padding:10px 4px;
	width:300px;
	height:inherit;
	margin-left:16px;
}
#midHeader 
{ 
	float: left;;
	font-size: 25px;
}
#memberList 
{
	width:300px;
	max-height: 300px;
	background-color: white;
	overflow-x:hidden;
	overflow-y:auto;
	right:5px;
	left:auto;

}
#rightHeader 
{
	/*float:right;
	max*/-width:400px;
	cursor:pointer;
}
 .inviteButton
{ text-decoration: none; 
  line-height:40px;
  color:white;
  background-color: none ;
  width:30px; 
  padding:11px 2px;
}

#project,#add 
{
	height:auto;float: left;
	width:auto;
	
	text-align:center;
	font-weight: bolder;
}
#project
{
	
	
	margin-left:5px;
	border-radius: 3px;
}
#add 
{ 
	margin-left:8px;
	padding: 0px 6px;
	font-size: 21px;
	/*width: 30px;*/
	margin-top: 5px;
	font-weight: bolder;
  border-radius: 3px;
}
#userName
{
	
	width: auto;
	margin: 5px;
	padding: 6px;
	padding-bottom: 7px;
	border-radius: 3px;
}
 .logout 
}
{ 
	height: 24px ;
	margin-left: 2px;
}
h3 
{ 
	margin: 3% 0% 0% 4%;
}

.fadein
{
	height:630px;
	width:1296px;
	opacity:0.89;
	background-color: black;
	position:absolute;
	top:0;
	left:0;

}
#userView
{
	float: right;
	border: 1px solid #d6dadc;
	background-color: #F2F4F5;
	text-align: left;
	padding: 11px;
}
.changeClass2
{
	
	position: absolute;
	top : 4.4%;
	right:0%;
}
.userProfile ,.logout,.addComment1
{
	height:30px;
	font-size: 14px;
	width:110px;
	border:none;
	background:none;
	
	color:#666;
	
   

}
.details 
{
	width:100%;
	text-align: center;
	margin-top:5px;
	color: black;
}
.details1 
{
	width:100%;
	text-align: left;
	margin-top:1.5px;
	
	font-size:12px;
	cursor:pointer;
}

#memberDetails 
{
	position:absolute;
	top:8%;
	right:2%;
	text-align: center;
	background-color: white;
	
	width:300px;
}
#addMember 
{
	width:377px;
	opacity:1;
	position:absolute;
	top:4.4%;
	right:0%;
	max-height:650px;
	overflow:hidden;
	background-color:white;
	padding:5px;
	border-radius: 2px;
	
}

.ul-member,.ul-members
{
	margin:5px; 
	margin-right: 10px;  
	
	list-style: none; 
	padding :0; 
	border-radius : 5px;
	margin-bottom:10px;
}

.ul-member li 
{
	height:100px;
	padding:5px;
	margin-right:10px;
	cursor: pointer;

}
.ul-member li:last-child
{
	margin-bottom: 20px;
}
.ul-member li:hover
{
	border:1px solid grey;
	border-radius: 3px;

}
.ul-members li
{
	height: 25px;
	font-weight:bold;
}
.ul-members li:hover
{
	color:white!important;
	background-color:blue;
	

}
.ul-members li:first-child:hover
{
	background-color:white;
	cursor: auto;	color:grey!important;
}
.memberButton
{
	float:right;
	height:20px;
	font-size: 12px;
	width:40px;

}
#projectList 
{
	 
	overflow-y:auto; 
	border:2px solid black;
	
	border-radius:5px;
	max-height:800px;
	width : auto;
	float: left;
	background-color: white;
}  
.ul-projects , .ul-task 
{ 
	margin:5px; 
	cursor:pointer;
	list-style: none; 
	padding :0; 

	border-radius : 5px;
	margin-bottom:10px;
	cursor:pointer;
}
.ul-projects
{
	width:280px;
	overflow-y:auto;
	max-height:500px;
}

.ul-projects li 
{ 
	background:#BBEDF9;
  margin:0px 5px 5px 5px; 
	font-weight: 600;
	height:40px;
	border: none;
	border-radius: 3px;

}	
.ul-projects li.projectLabel
{  
	font-weight: bolder;
	color:grey;
	height:auto;
	
	margin-left:5px;
	background-color: white;
	cursor: auto;
}
.ul-projects li div
{
	opacity:0.7;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0px 5px;
	width:90%;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}
.ul-projects li div:hover
{
	opacity: 1;
}    


.thumb
{
	background-color:#0E74AF;
	height: 100%;
	width:10%;
	border-radius: 3px 0px 0px 3px;
	margin:0;
}
.createButton 
{ 
	height:30px; 
	width: 100px; 
	background-color: green;
}
#addProject 
{  
	background-color: white; 
	width:230px;  
  
  border:1px solid black;
  
  padding:5px;
}


.text 
{
	width:100%; 
	height: 29px;
	margin : none;  
	font-size: 15px;
	font-weight:normal;
	border: 1px solid #ccc;
}
.text:focus
{
	background: #fff;
	border:none;
	box-shadow: 0 0 2px #298fca;
}
.renameThis 
{
	margin-top:-32px;
	margin-left:220px;
	height:25px;
	width:65px;
}

.label 
{
	font-size: 15px;
	text-align: left;
	color: #4d4d4d;
	padding:0;
	margin:0;
}
.gb_da ,.gd_ba{
border-top: 4px solid #404040;
border-left: 4px dashed transparent;
border-right: 4px dashed transparent;
display: inline-block;
margin-left: 96%;
margin-top:-104px;
vertical-align: middle
}
.gd_ba {
	margin-top:-111px;
}
#projectDetails 
{ 
	width:100%; 
	padding: 0px 20px; 
	background-color: rgb(14, 116, 175); 
	float: left;
	overflow:hidden;
	min-height:900px;
	/*position: absolute; 
	top:100%; 
	left:2%;*/
}
#projName 
{
	background-color:none ;  
	font-size:12px; 
	height: 30px ; 
	width: 200px;
}
#projName .userName 
{
	text-decoration: none;
	font-size: 24px; 
	background: none;
	margin:5px;
	position: absolute;
	top: 1%;
	left: 320px;
	width:500px;
}
#allTypes 
{ 
	margin-top:10px;
	/*display: table-row;*/
}
#backlog , #complete , #progress 
{
	
	margin-bottom: 10px;
	border-radius: 2px;
	background-color: #E6E6E6;
	/*display: table-cell;*/
	max-height: 460px;
	overflow-y:auto;
	overflow-x:hidden;
}
.addTask 
{ 
	width:80%; 
	margin:2px;
	 
}
#taskForm 
{ 
	width:100%;
	margin-left: 3%;
}
.addTask input 
{  
	font-size: 12px;
	cursor:pointer;
}
.taskButton 
{ 
	height:30px;  
	width:100px;
}
.taskText 
{ 
	height:60px; 
	width:100%;
}
#btn1 
{
	float:left;
}
.close 
{ 
	float: right;
	margin: 0px;
	cursor: pointer;
	margin-right: 10px;
	background: none;
	border: none;
	font-size: 20px;
}
.ul-task li 
{ 
	
	margin: 8px 5px; 

	font-size:15px;
	padding:8px;
	border-radius:2px;
	background-color:white; 
	
}
.ul-task li:hover
{
	background-color: #DDD7D7;
}


.addComment
{
	padding: 5px;
	height: auto;
	margin: 0;
	background-color: #026aa7;
	color: white;
	font-size: 13px;
}
#backlog1, #complete1,#progress1 
{ 
	
height: 0px;
width: 100%;
background-color: #e6e6e6;
margin: 0;

padding-left: 5px 
	
}
#renameProject
{
	height:200px;
	width:260px;
	padding-left:5px;
	background-color:white;
  
  position: absolute;
  top: 10%;
  left:3%;
}
#renameProject input 
{
	width:230px;
	height:30px;
}
#renameProject label
{
	height:20px;
	font-size: 14px;
	margin-bottom : 5px;
	font-weight: bold;
}
#renameProject .createButton
{
	width: 100px;
}

.createButton1 
{
   height:20px;
   width:100px;
   font-size: 12px;
   color: black;
   background-color: #f8f8f8;
   position: absolute;
   bottom: 0.4%;
   right: 5%;
}
#userDetails
{
	/*float: right;*/
	padding:0px 11px;
	border: 1px solid black;
	background-color:white;
	/*width:300px;*/

}
.userLabel , .userText
{
	font-size: 14px;
	height:20px;
	/*width:280px;*/
	
	
}
.userButton, .userButton1
{
	width:inherit;
	height:29px;
	text-align:center;
	
	font-size: 19px;
	border: 1px solid green;
}
.userButton1
{   
	width:120px;
	font-size: 13px;
	
}
.passText 
{
	width:260px;
	float:right;
	font-size:14px;
	margin-top:-30px;
	height:20px;
	margin-left:200px;
}
#changePass
{
	width :500px;
	margin:auto;
	background-color: #909090;
}
#projName a
{
	margin-top: -30px;
  
  width:450px;
  height:50px;
  text-decoration: none;;
  text-align:center;
  color:white;
  font-weight: bolder;
  
  font-size:21px;
}
#projName a:hover {
	color:black;
}
#invitePerson 
{
	background-color: white;
	position:absolute;
	top:30%;
	left:30%;
	padding:10px;
	border-radius: 9px;
	border:1px solid black;
}
textarea 
{
	float:left;
	margin-bottom:3%;
}

.ul-comments
{
	list-style-type :none;
	padding:5px;

}
/*.ul-comments li 
{
	margin-top:-28px;

}
.ul-comments li:first-child 
{
	margin-top:-15px;

}*/
.inviteButton
{
	position: absolute;
	top: 9%;
	right: 30%;
	width:200px;
	font-size:50px;

}
.choose
{
	width:180px;
	height:22px;
	border:1px solid white;
	background-color: white;
	/*margin-left:105px;*/
	/*margin-top: -55px;*/
}
.userImage
{
	margin:10px 0px -16px 0px;
	border:1px solid black;
	background-image: url('1.png');
}
.inviteClass
{
	position: absolute;
	top: 21%;
	left: 55%;
	background-color: rgb(127, 139, 190);
	margin-left: 8px;
	
	font-size: 36px;
	width: 36px;
	
	font-weight: bolder;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	margin-left: 8px;
	padding: 0;
	font-size: 25px;
	width: 30px;
	color: white;
	font-weight: bolder;
	border-radius: 6px;
}
a.bluebutton:hover,div.bluebutton:hover
{
	background-color: rgba(127, 139, 190, 0.75);
}
.taskthings
{
	color :blue;
}
.line1
{
	margin-top:111px;
}
.line2
{
	margin-top: 52px;
}
a:hover
{
	cursor: pointer;
}
.flaotnone
{
	float :none;
}
#fourdetails
{
	float: left;
	text-align: left;
	padding: 0px 8px;
	font-size: 12px;
	height:102px;
}
#imageDetail
{
	height:115px;
	border-bottom:1px solid black;
}
#usersecond,#userthird,#userfourth
{
	height:50px;
	margin-top:5px;
	font-size: 15px;
	border-bottom: 1px solid black;
}
#userthird,#userfourth
{
	height:30px;
}
#userfourth
{
	border-bottom:none;
	margin-bottom:-12px;
}
::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	
	}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
	
   -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),
					   inset 0 -1px 0 rgba(0,0,0,0.07)
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
	}
::-webkit-scrollbar-corner {
	background:transparent;
}
a,a:hover
{
	text-decoration: none;
}
.goback
{
	font-size: 30px;
	
	color: white;
	opacity:0.6;
	font-family: Blackadder ITC ,sans-serif;
	font-style: italic;
	cursor: pointer;
}
.goback:hover
{
	opacity:1;
}
.editimage
{
	opacity:0.5;cursor:pointer;
}
.editimage:hover
{
	opacity: 1;
}
.addFromTeamDirectory
{
	margin-left: 103px;
	width: 76px;
	background-color: white;
	text-align: center;
	margin-top: -38px;
	cursor: pointer;
	padding: 2px;
	border-radius: 2px;
	font-weight: bold;
	color: #9e9ea6 !important;
	border: 1px solid #9e9ea6 !important;
}
.addFromTeamDirectory:hover
{
	color: #439fe0 !important;
border-color: #439fe0 !important;
}
@media (max-width: 768px)
{
	.allright
	{	

		text-align: left;
	}

}
@media (min-width: 992px) and (max-width:1166px)
{
	.projects
	{
		width:34%;
	}

}
@media (min-width: 769px) and (max-width:853px)
{
	.leftsection
  {
  	height:100%;
  }
  
	.projects
	{
		width:37%;
	}
  
}
@media  (max-width:500px)
{
	.leftsection
	{
		width:18%;
	}

}
.plus
{
	padding: 6px 6px;
	background-color: green;
	font-size: 20px;
	margin-top: 2px;
}
.projects
{
	padding: 3px 3px 0px 15px;
}
#taskDetail
{

	height: auto;
	background-color: #edeff0;
	margin-top:10px;
	padding:10px;
	font-size:20px;
	/*position:absolute;*/
	top:8%;
	right:0%;
	font-weight: bold;	cursor:pointer;
}
.taskLabel
{
  font-size:16px;
}
.cross
{
	opacity:0.2;
	cursor:pointer;
}
.cross:hover
{
	opacity:0.9;
}
.taskInfo input,select
{
	cursor: pointer;
	
	position: relative;
}
.taskInfo select
{
	padding: 0;
}
#task1, #task2 
{
	padding:0px 40px 0px 5px;
}
.edit
{
	position: absolute;
	right: 2px;
	top:2px;
	font-size:30px;
	opacity: 0.2;
	cursor: pointer;
}
.edit:hover
{
	opacity:1;
}
#projectname
{ position: relative;
	height: auto;
	margin-top:5px;
	position: relative;
	color:white;
	padding:1px 0px;
	margin-left: 5px;
}
#projectname input
{
	background-color:rgb(14, 116, 175);
	font-weight: bold;
	font-size: 20px;
	margin:0;
	border:none;
	padding-right: 40px;
	
	cursor :pointer;
}
#projectname:hover
{
	border: 1px solid white;
	padding:0;
	border-radius: 4px;
}
#editProject
{
	opacity:0.5;
}
#editProject:hover
{
	opacity: 1;
}
.invite
{
	float: none;
	border: 1px solid rgba(127, 139, 190,0);
	padding: 3px;
	background-color: rgba(127, 139, 190, 0.6);
	color: white;
	margin: 0;
	top:0;
	font-size:21px;
	border-radius:3px;
	margin-top: -7px;
}
.add
{
	margin-left:7px;
}
.firstName
{
	display: none;
	width: auto;
	margin: 5px;
	padding: 6px;
	padding-bottom: 7px;
	border-radius: 3px;
	font-size:16px;
}
.dropProject
{
	padding: 5px 10px;
	margin-top: -6px;
	border: none;
}
.dropProject:hover
{
	background-color: rgba(127, 139, 190, 0.75);
}
.pList
{
	display: none;
	font-size: 27px;
	background: none;
	margin-top: 7px;
}

.inviteMember
{
	width: 300px;
left: auto;
right: 10px;
padding: 4px;
}
@media(max-width: 700px){
		#userName,.dropProject
		{
			display: none;

		}	
		.firstName, .pList
		{
			display: block;
		}
		.firstName
		{
			float: right;
		}
}
.userDropdown
{
	min-width: 220px;
}
.user_name
{
	font-size: 15px;
	font-weight: normal;
	color:grey;
}
.ul-userView
{
	list-style: none;
	margin-top:10px;
}
.ul-userView li
{
	padding: 8px 0px;
	border-bottom: 1px solid grey;

}
.ul-userView li:last-child
{
	padding-bottom: 0px;
	border-bottom: none;

}
:focus
{
	outline: none;text-decoration: none;
}
:hover
{
	text-decoration: none;
}
#useremail,#password,#username,#password1,#resetemail
{
	padding-left: 10px;
}
.verified_message
{
	margin-top: 36px;
	background-color: rgb(169, 220, 110);
	
}
.login_link
{
	color:#23527c;
}
.login_link:hover
{
	text-decoration: underline;
}
.verified_message_parent
{
	font-size: 50px;
	font-weight: bold;

}
.verified_message p {
	margin: 0;
	float: none;
	font-size: 20px;
}
p
{
	font-size: 14px;
}
ng-hide-remove, ng-hide-add.ng-hide-add-active{
  margin-left: -80px;
    opacity: 0.7;
}

ng-hide-remove.ng-hide-remove-active, ng-hide-add{
  margin-left: 0;
    opacity: 1;
}