html 
{
	overflow-x: hidden;
}
body 
{
	background-color: white;
	font-family: Arial,sans-serif; 
	margin:0px auto;
}

header,label,span,input,form,p
{
	display:block;
	margin-bottom: 10px;
	float: left;
	clear:none;
}

#box 
{
	box-shadow: 5px 5px 5px 5px;
	margin-top:115px;
	
	border-radius: 10px;
	padding:0px 30px;
}
header 
{ 
	height:auto;

	color:black;
	font-weight: bold;
	
	font-size: 30px;
}
label 
{
	height:30px; 
	font-size:20px;
	 font-weight: 300px; 
	}
input 
{
	height:35px;
	 
	background-color: #f5f5f5;
	padding-left:3px;
	border:1px solid #ccc; 
	border-radius:4px;
	font-size: 13px;
}
#login 
{
	width:130px;
	height:45px; 
	background-color:#63ac00;
	color: white;
    font-weight: 400px; 
    font-size: 20px; 
    padding:5px; 
    cursor:pointer;
}
a 
{ 
	color: inherit; 
	cursor :pointer;
}

.dimm 
{
	color:grey;
}
#message
{
	 
	border:2px solid grey;
	border-radius: 5px;
	height:auto;
	margin-top: 215px;
}

@media (max-width:504px)
{
	#box
	{
		width:84%;
	}
	.divright,.divleft
	{
		width:8%;
	}
	#message
	{
		margin-top: 400px;
	}

}
.paddingRemove
{
	padding: 0;
}
@media (min-width:992px)
{
	.thisform
	{
		width:40%;
	}
	.divleft
	{
		width:30%;
	}
}
