<div id="userDetails" ng-class="apply3" class="col-xs-12" ng-show ="userDetails">
  <form id="userEdit" novalidate>
  <div class="col-xs-12 image_container" >
    <img ng-src="{{thisPath}}" height="100" width="100"  style="width:100px;" class="col-xs-6 userImage paddingRemove   ">
    <input type="file" class="col-xs-6 choose" ng-model="file" ng-file-select = "onFileSelect($files)"><br><br>
    </div>
    <div class="col-xs-12">
    <label class="col-xs-6 userLabel text-right" > First Name: </label>
    <input type="text" ng-model="userFName" class="col-xs-6  userText">
    <label class="col-xs-6 userLabel text-right" > Last Name: </label>
    <input type="text" ng-model="userLName" class="col-xs-6 userText">
    <label class="col-xs-6 userLabel text-right" > Designation: </label>
    <input type="text" ng-model="userPost" class="col-xs-6 userText">
    <label class="col-xs-6 userLabel text-right" > Email: </label>
    <input type="text" ng-model="userEmail" class="col-xs-6 userText" readonly>
    <label class="col-xs-6 userLabel text-right" > Phone no: </label>
    <input type="text" ng-model="userContact" class="col-xs-6 userText">
    <label class="col-xs-6 userLabel text-right" > Skype Id: </label>
    <input type="text" ng-model="userSkypeId" class="col-xs-6 userText">
    <input type="button" class="userButton" value="Save" ng-click="userUpdate()">
    <input type="button" class="userButton" style="margin-left: 68px;
    "value="Cancel" ng-click="userdetails=false;">
    </div>
  </form>
</div>