<form name="change_form">
    <label style="float:none;"> Enter Your Email: </label>
    <input style="float:none;" type="text" ng-model="userMail" readonly>
    <label style="float:none;"> Old Password: </label>
    <input type="password" style="float:none;" ng-model="oldPassword" required>
    <label style="float:none;"> New Password: </label>
    <input type="password" style="float:none;" ng-model="newPassword" required>
    <label style="float:none;"> Re-enter new password: </label>
    <input type="password" style="float:none;" ng-model="confirmPass" required>
    <input type="submit" class="userButton1" style="float:none;" value="Change Password" ng-click="submitChange(userMail,oldPassword,newPassword,confirmPass)">
</form>
