<div class="col-md-4 col-sm-3 col-xs-2 divright"></div>
	<form class="col-md-4 col-sm-6 col-xs-8 "  id="box" name="register" ng-init="false" novalidate>
	
	<header style="background-color:white;" class="col-md-10 col-sm-10 col-xs-12 paddingRemove">Log In Here For Task Manager</header>
	
	<label for="username" class="col-md-10 col-sm-10 col-xs-12 paddingRemove">Email </label>
	
	<input  class="col-md-10 col-sm-10 col-xs-12 paddingRemove"type="email" name="usermail" id="useremail" ng-model="user" placeholder="e.g.,hellman@gmail.com" required>
	
	<span style="color:red" class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="register.usermail.$dirty && register.usermail.$invalid">
	
	<span  class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="register.usermail.$error.email">This is not a valid email address.</span>
	</span>
	
	<span class="col-md-10 col-sm-10 col-xs-12 paddingRemove" ng-show="wrong" style="color:red" > Email or Password is not correct </span> 
	
	<label class="col-md-10 col-sm-10 col-xs-12 paddingRemove" for="password">Password</label>
	
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove" type="password"  ng-model="pass" name="password" id="password" placeholder="e.g.,********">
	
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove" type="submit" id="login" class="green button" value="Log In" ng-click="login()" tabindex="3">
    
    <p class =" col-md-10 col-sm-10 col-xs-12 dimm paddingRemove" > Forgot your password? 
    <a ui-sref="reset" style="text-decoration:underline"  >Reset your password.</a></p>
    
    <p class ="col-md-10 col-sm-10 col-xs-12 dimm paddingRemove" > Don't have an account yet? <a  ui-sref="register" style="text-decoration:underline">Register Here.</a></p>
    
    
	</form>
<div class="col-md-4 col-sm-3 col-xs-2 divright"></div>

