<div class="col-md-3 col-sm-3 col-xs-2 divleft"></div>   
<div class="col-md-6 col-sm-6 col-xs-8 " id="resetPassword">
	<div class="col-md-10 col-sm-10 col-xs-12 " style="box-shadow: 5px 5px 5px 5px;
	border-radius: 10px;"ng-show="resetIt">
	<h1 class="col-md-12 col-sm-12 col-xs-12 paddingRemove"> Reset Your Password </h1>
	<p  class="col-md-12 col-sm-12 col-xs-12 paddingRemove" id="resetmessage" > Submit your E-mail which you have used to register <br >
	   for your account </p>
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove emailforReset" type="text" id="resetemail" ng-model="resetEmail"  autofocus>
	<input class="col-md-10 col-sm-10 col-xs-12 paddingRemove createButton " type="button"  value="Submit" ng-click="createPassword()">
  </div>
</div> 
<div class="col-md-3 col-sm-3 col-xs-2 divleft"></div>   