<div class="col-xs-12 text-center verified_message_parent paddingRemove"> Kanban Team Welcomes You !
    <div class="col-xs-12 verified_message text-center paddingRemove" ng-init="verification=false" ng-show="verified">
        <p> Congratulation ! Your email has been verified. Click on
            <a ui-sref="login" class="login_link" href=""> Login  </a> to proceed.</p>
    </div>
</div>
