<div id="addMember" ng-show="addmember" >
  
    <div style="margin-bottom:-11px;text-align:left;margin-left:2px;font-size:20px;color:grey;height:30px;width:100%;" >  Members ({{lengthof}})
    </div>
    <ul   class="ul-member" style="overflow-y:auto;margin-right:0;max-height:650px;" >
    <li  style="margin-top: 7px; " ng-repeat="member in addmembers track by $index" ng-mouseover="somethingExtra($index)" ng-mouseleave="somethingExtra1($index)">
      <div  style="border:none;height: 100%;">
        <img ng-src="{{member.userImage}}" height="86px" width="95px" style="float:left;margin:0px;" class="userImage col-xs-4 paddingRemove">

        <div id="fourdetails" class="col-xs-8 ">
          <span class="details1" id="name{{$index}}" style="font-weight:bold;"  >{{member.name}}
          </span>
          <span class="details1" style="font-weight:bold;margin-top: -9px;" >{{member.email}}</span>
          <span class="details1" style="margin-top: -9px;" ng-if="member.contact"><b>Contact No: </b>{{member.contact}} </span>
          <span class="details1"  style="margin-top: -9px;" ng-if="member.skypeId"><b>Skype Id: </b>{{member.skypeId}} </span>

        </div>
        <span   class="addFromTeamDirectory" ng-click="joinMember(member)" ng-if="thisProject.members.indexOf(member.email)==-1"> ADD</span>
      </div>
      
    </li>
  </ul>
</div>