<div id="addProject" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-class="applyThis" >
  <form name="createProject" novalidate>
  <label class="label"> Project  Name :</label>
  <input type ="text" ng-model= "projname" class="text" name="projectname" autofocus required> 
   <label class="label"> Project Description :</label>
  <input type ="text" name="projectdesc" ng-model="projdesc" class="text"  required> 
  <input type="button" class="addComment" name="create" value="Create" ng-click="callProject()">
  
  </form>
</div>