<div style="display: table-cell;"class="col-md-4 col-sm-6 col-xs-6 ">
<div  style="margin-left:0;" id="backlog">
	<h3> Backlog </h3>
	<ul   class="ul-task" >
		<li  id="backlog1" ui-on-Drop="onDrop($event,$index,$data,item.taskStatus,tasks)"> </li>
	 <li ng-repeat="item in tasks  | orderBy : 'seq_no' : false " id = "b{{$index}}"   
	 ui-draggable="true" drag= "item" ng-click="taskDetails(item)" 
	 ng-if = "item.taskStatus == 'backlog' "  title="Click To See Task Information" ui-on-Drop="onDrop($event,$index,$data,item.taskStatus,tasks)"
		on-drop-success="dropSuccessHandler($event,$index,item.taskStatus,tasks)" > {{ item.title }}
	 </li>
	</ul>
	<span class="addTask" ng-show="addT" ng-init="addT=false" >
		<form id="taskForm" name="addTask"  novalidate>
			<textarea class="taskText" ng-model="taskname" name="taskname" autofocus required></textarea>
			<input type="button" class="taskButton col-xs-5 paddingRemove" id="btn1" ng-click="addNewTask()" value="Add" ng-disabled="addTask.taskText.length==0">
			<input value="Cancel" ng-click="addT=false;" style="margin-left:1px;" aria-label="Close" title="Close"  class="taskButton col-xs-5 paddingRemove" type="button">
		</form>
	</span>
	<p ng-hide="addT" ng-click="addT=!addT" style="margin-left: 10px;cursor:pointer;"> Add a task </p>
</div>
<div>