<!-- <section class="col-md-12 col-sm-12 col-xs-12  red paddingRemove" style="background-color:red;height:auto;" >
  <section class="col-md-3 col-sm-3 col-xs-5 paddingRemove" >
    
    <section class="blue">
      <section class="dropdown col-md-9 col-sm-9 col-xs-11 paddingRemove" >
        <button class="btn btn-default  project dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Projects
        <span class="caret" style = "float:none; margin-bottom:0;"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" ng-repeat="x in owner_projects"   ng-click="showTasks(x)" ><a role="menuitem" tabindex="-1" href="#">{{ x.name }}</a></li>
     
        <li role="presentation" ng-repeat="x in member_projects" ng-click="showTasks(x)"><a role="menuitem" tabindex="-1" href="#">{{ x.name }}</a></li>
        </ul>
      </section>
      
    </section>
    <span class="col-md-1 col-sm-1 col-xs-1 glyphicon glyphicon-plus paddingRemove plus" ng-click="show()" title="Add a New Project"></span>

  </section>


  <section class="col-md-4 col-sm-4 col-xs-6 text-center paddingRemove">
    
    <section class="col-md-12 text-center">
      <img src="/kanban_1024.png" height="36" width="120">
    </section>

  </section>

  <section class="col-md-4 col-sm-4 col-xs-6 allright text-right  paddingRemove">
    
    <section class="col-md-10 col-sm-9 col-xs-8 allright text-right paddingRemove">
      <img ng-show="project" src="/4.png" ng-click="showMembers()" style="height: 30px;padding: 5px;margin-right: -5px;" title="Members" > 
    
    <span  ng-click="inviteOpen()"  ng-show="project" title="Invite Friends" class="col-md-3 col-sm-3 col-xs-1 glyphicon glyphicon-plus paddingRemove plus bluebutton" ></span  >
    
    </section>
    
    <section class="col-md-2 col-sm-2 col-xs-4 text-center name paddingRemove">
      <span class="blue"  ng-bind="named" ng-click="yourView()" title="Account Monu" ></span>
    
    </section>
  
  </section>

</section>
 -->
<section class="col-xs-12 main paddingRemove" style="background-color:red;">

  <section class=" col-sm-4 leftsection paddingRemove" style="background-color:blue;">
    <section class="dropdown col-lg-3 col-md-4 col-sm-4 col-xs-9  projects paddingRemove" style="padding:2px;" >
      <button class="btn btn-default  project dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Projects
      <span class="caret" style = "float:none; margin-bottom:0;"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation" ng-repeat="x in owner_projects"   ng-click="showTasks(x)" ><a role="menuitem" tabindex="-1" href="#">{{ x.name }}</a></li>
   
      <li role="presentation" ng-repeat="x in member_projects" ng-click="showTasks(x)"><a role="menuitem" tabindex="-1" href="#">{{ x.name }}</a></li>
      </ul>
    </section>
    
    <span class="glyphicon glyphicon-plus paddingRemove plus" ng-click="show()" title="Add a New Project"></span>

  
  </section>

  
  <section class="col-sm-4 paddingRemove" style="background-color:black;">
    <section class="col-xs-12 text-center">
      <img src="/kanban_1024.png" height="36" width="120">
    </section>
  </section>
  <section class="col-sm  -4 paddingRemove" style="background-color:yellow;">
  </section>
</section>


















