<label  style="float:none;"> Enter Your Email: </label>
<input  style="float:none;" type="text" ng-model="userEmail" readonly >
<label  style="float:none;" > Old Password: </label>
<input type="password" style="float:none;" ng-model="oldPassword" >
<label style="float:none;"  > New Password: </label>
<input type="password" style="float:none;" ng-model="newPassword" >
<label  style="float:none;" > Re-enter new password: </label>
<input type="password" style="float:none;" ng-model="confirmPass"  >
<input type="button" class="userButton1" style="float:none;"  value="Change Password" ng-click="submitChange(userEmail,oldPassword,newPassword,confirmPass)" >

 


