<div class="col-md-4 col-sm-6 col-xs-6 " style="display: table-cell;">
<div id="complete" >
	<h3> Completed </h3>
	<ul   class="ul-task" >
		<li  id="complete1" ui-on-Drop="onDrop($event,$index,$data,y.taskStatus,tasks)"> 
		</li>
		<li ng-repeat="y in tasks  | orderBy : 'seq_no' : false  " id = "c{{$index}}"  
		ng-click="taskDetails(y)" ui-draggable="true" drag= "y" 
		ng-if = "y.taskStatus == 'completed' " title="Click To See Task Information" ui-on-Drop="onDrop($event,$index,$data,y.taskStatus,tasks)"
		on-drop-success="dropSuccessHandler($event,$index,y.taskStatus,tasks)"> {{ y.title }}
		</li>
	</ul>
</div>
</div>