<header>
  <section style="width:150px;">
  <a href=""  class="bluebutton" id="project"  ng-click="toggle()" title="View List of  Projects">Projects</a>
  <a href=""  class="bluebutton" id="add" ng-click="show()" title="Add a New Project">+</a></section>
  <section style="width:220px;margin-left:400px;">
  <article class="goback" ><img ng-src="/kanban_1024.png" height="36" width="120" </article>

  </section>
 
  <section id="rightHeader">
  
   <img ng-show="project" ngsrc="/4.png" ng-click="showMembers()" style="height: 39px;padding: 5px;float: left;margin-right: -5px;" title="Members" class="editimage"> 
  <a href="" ng-click="inviteOpen()" id="add" ng-show="project" title="Invite Friends" class="bluebutton" style="
    /* padding: 0 5px; */
">+</a>-
  <div class="bluebutton ng-binding" id="userName" ng-bind="named" ng-click="yourView()" title="Account Monu" style="
    padding: 5px 10px;
    float: right;
    margin-left: 8px;
">Monu</div>
  
</section>
</header>
