<label class="flaotnone" > Enter the email-Id : </label>
<input type ="email"  class="flaotnone" ng-model="inviteEmail" autofocus>
<input type="button" class="userButton1" style="float:none;"value="Invite" ng-click="inviteNow(inviteEmail)">
