
	 <form ng-app=""  class="col-ls-12 col-sm-12 col-xs-12 red " ng-controller="validateCtrl2" id="box" name="register" ng-init="false" novalidate>
	<header class="col-ls-12 ">Log In Here For Task Manager</header>
	<section class="col-ls-12 blue">
	<label class="col-ls-6"	 for="username">Email  (or username)</label>
	<input class="col-ls-6" type="email" name="usermail" id="useremail" ng-model="user" placeholder="e.g.,hellman@gmail.com" required>
	<span style="color:red" ng-show="register.usermail.$dirty && register.usermail.$invalid">

	<span ng-show="register.usermail.$error.email">This is not a valid email address.</span>
	</span>

	<span ng-show="wrong" style="color:red" > Email or Password is not correct </span> 
	</section>
	<section class="col-ls-12 blue">
	<label class="col-ls-6" for="password">Password</label>
	<input class="col-ls-6" type="password"  ng-model="pass" name="password" id="password" placeholder="e.g.,********">
	</section>
	<section class="col-ls-12 blue">
	<input type="button" id="login" class="green button" value="Log In" ng-click="login()" tabindex="3">
   <p class ="dimm" > Forgot your password? <a ui-sref="reset"  >Reset your password.</a></p>
   </section>
   <section class="col-ls-12 blue">
   <p class ="dimm" > Don't have an account yet? <a  ui-sref="register" >Register Here.</a></p>
   </section>
    </form>
	


