<div class="col-md-4 col-sm-6 col-xs-6 " style="display: table-cell;">
<div id="progress" >
	<h3> In Progress </h3>
	<ul  class="ul-task" >
		<li id="progress1" ui-on-Drop="onDrop($event,$index,$data,y.taskStatus,tasks)"> 
		</li>
		<li ng-repeat="y in tasks  | orderBy : 'seq_no' : false " id = "p{{$index}}"  
		ng-click="taskDetails(y)" ui-draggable="true" drag= "y" 
		ng-if = "y.taskStatus == 'inprogress' " title="Click To See Task Information"  ui-on-Drop="onDrop($event,$index,$data,y.taskStatus,tasks)" 
		on-drop-success="dropSuccessHandler($event,$index,y.taskStatus,tasks)"> {{ y.title }}
		</li>
	</ul>
</div>
</div>