<div id="projectname" class="col-md-8 col-sm-9 col-xs-12 paddingRemove" ng-mouseover="editname=true;
  " ng-mouseout="editname=false;">
  <input type="text" class="col-xs-12 paddingRemove" id="entername"   ng-model = "projectnamed" readonly> 
  <span  id="editProject" class="paddingRemove glyphicon glyphicon-edit edit"   ng-show="editname" ng-click="rename_active()"></span>
</div>