<div id="projectList" ng-class="apply2" ng-show="list"  class="thislist" ng-init="projects=[]" >
 
  <ul class="ul-projects"  style="margin-top:6px;margin-bottom:-3px;">
    <li> Your Project  are: </li>
    <li   ng-repeat="x in owner_projects"   ng-click="showTasks(x)">
    {{ x.name }}
    </li> 
  </ul>
  <hr >
  <ul class="ul-projects"  style="margin-top:6px;">
    <li> Project you are added to </li>
    <li   ng-repeat="x in member_projects" ng-click="showTasks(x)">
    {{ x.name }}
    </li> 
  </ul>
</div>