<div id="projName">
  <table style="width:900px;" ng-hide="rename">
    <tr>
      <td>
        <p  style="border: none;height: 30px;
        font-weight: bold;font-size: 20px;color:white;background-color: rgb(13, 102, 236);" >{{projectnamed | limitTo : 78}} {{projectnamed.length > 78 ? "...." : ""}}</p>
        <img class="editimage" ng-src="edit-2-32.png" ng-hide="rename"  height="22px" style="margin-left:5px;cursor:pointer;" title="Rename Project" width="25px" ng-click="rename1()">
      </td>
      
    </tr>
  </table>

  <table ng-show="rename">
    <tr>
      <td >
        <input type ="text" ng-model= "projectname" class="text" style=" height:30px;width:809px;font-size:19px;border-radius:0;"name="projectname" autofocus="autofocus" required>
      </td>
      <td>
        <img class="editimage" ng-src="/check-mark-3-32.png" ng-show="rename"  height="33px" width="33px" style="margin-top:-7px;font-size: 20px;" ng-click="renameProject1()">
      </td>
    </tr>
  </table>
</div>