<div id="taskDetail" ng-show="taskDetails" >
	<form name="taskform" novalidate>
		
		
		<p> Task Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="taskthings" ng-hide="edit" style="display: inline;float: none;"> {{thistaskName | limitTo : 16}}{{thistaskName.length > 16 ? '...' : ''}} 
			</span> 
		</p>
		<input style="color:red;" type="text"  ng-show="edit" ng-model="thistaskName" class="text">
		<p> Task description :  &nbsp;&nbsp;
			<span ng-hide="edit" class="taskthings" style="display: inline;float: none;"> {{thistaskDesc | limitTo : 16}}{{thistaskDesc.length > 16 ? '...' : ''}} 
			</span>
		</p> 
		<input style="color:red;"  type="text" ng-show="edit" ng-model="thistaskDesc" class="text"> 
		<p> Task Status :
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span ng-hide="edit" class="taskthings" style="display: inline;float: none;"> {{thistaskStatus}} 
			</span> 
		</p> 
		<span  ng-show="edit" >
			<select name="options" ng-model= "thistaskStatus">
				<option value="backlog">backlog</option>
				<option value="inprogress">inprogress</option>
				<option value="completed" >completed</option>    
			</select>
		</span>
		<p> Task Assigned To: 
			&nbsp;&nbsp;
			<span ng-hide="edit" class="taskthings" style="display: inline;float: none;"> {{thistaskAssignedTo}} </span>
		</p>
		<span  ng-show="edit" >
			<select name="options" ng-model= "thistaskAssignedTo">
				<option ng-repeat = "member in allmembers"> {{member}}</option>
			</select>
		</span>
		<p> Completion date : &nbsp;&nbsp;
			<span ng-hide="edit" class="taskthings" style="display: inline;float: none;"> {{thistaskDate}} 
			</span>
		</p> 
		<input type="date" style="color:red;"  ng-show="edit" ng-model="thistaskDate" class="text">
			&nbsp;&nbsp;&nbsp;
		<p> Estimated <br> Completion Time: 
			&nbsp;&nbsp;&nbsp;
			<span ng-hide="edit" class="taskthings" style="display: inline;float: none;"> {{thistaskDays}} 
			</span>
				&nbsp;
			<span ng-hide="edit"  class="taskthings" class="taskthings" style="display: inline;float: none;"> Hours 
			</span>
		</p>
		<input type="number" name="days" min="1" style="width:200px;"ng-model="thistaskDays"  ng-show="edit">
		<p> 
			<input type="button" class="addComment" style="width:80px;" value="Submit" ng-show="edit" ng-click="updateTask()" > 
		</p>
		<p> 
			<input type="button" class="addComment" style="width:80px;" value="Edit" ng-hide="edit" ng-click="editTask()">
		</p>
	</form>

	<form name="commentForm" ng-hide="edit" novalidate>
	 <h3 style="color:green;margin:0px;margin-left:3px;">Comments:</h3>
		<ul class="ul-comments">
			<li ng-repeat="item in allComments" style="color:blue;font-size:14px;"> {{item.user_Id}} <h6 style="margin-top:0px;color:red;font-size:14px;">
			{{item.comment}}</h6>
			</li>
		</ul>
		<textarea  ng-model="taskcomment"  style="margin-top:-37px;"required>
		</textarea>
		<input type="button" class="addComment" style="width:80px;" value="Add" ng-click="addTaskComment()">
	</form>
</div>