
<div id="taskDetail" class=" col-md-4 col-sm-4 col-xs-12 " ng-show="anything" ng-init="anything= false;">
	<header class="col-xs-12 paddingRemove" style="background:none; font-size:22px;">
		<div class="col-xs-11 paddingRemove"></div>
		<div class="col-xs-1 glyphicon glyphicon-remove paddingRemove text-right cross" ng-click="anything=false;"></div>
	</header>
	<div class="col-xs-12 paddingRemove taskInfo">
		<span class="col-xs-12 paddingRemove taskLabel"> Task Name : 
		</span>
		



		<section  ng-mouseover= "edit1= true;" ng-mouseout ="edit1=false;"class="col-xs-12 paddingRemove">
			<input type="text"  id="task1" class="col-xs-12 " ng-model="thistaskName"  readonly> 
			<span  id="span1" class="paddingRemove glyphicon glyphicon-edit edit"   ng-show="edit1" ng-click="change(1)"></span>
			</span>
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Description : 
		</span>
		<section  ng-mouseover= "edit2= true;" ng-mouseout ="edit2=false;"class="col-xs-12 paddingRemove">
			<input type="text"  id="task2" class="col-xs-12 " ng-model="thistaskDesc"   readonly> 
			<span  id="span2" class="paddingRemove glyphicon glyphicon-edit  edit"   ng-show="edit2" ng-click="change(2)"></span>
			</span>
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Status : 
		</span>


		<section  class="col-xs-12 paddingRemove">
			<select class="col-xs-12" name="options" ng-model= "thistaskStatus" readonly>
				<option value="backlog">backlog</option>
				<option value="inprogress">inprogress</option>
				<option value="completed" >completed</option>    
			</select>
			
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Assigned To : 
		</span>

		<section  ng-mouseover= "edit4= true;" ng-mouseout ="edit4=false;"class="col-xs-12 paddingRemove">
			<select class="col-xs-12" name="options" ng-model= "thistaskAssignedTo">
				<option ng-repeat = "member in allmembers"> {{member}}</option>
			</select>
			
			
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Completion Date : 
		</span>
		<section  ng-mouseover= "edit4= true;" ng-mouseout ="edit4=false;"class="col-xs-12 paddingRemove">
			<input type="date"   ng-model="thistaskDate" class="col-xs-12">
		</section>
		
		<span class="col-xs-12 paddingRemove taskLabel"> Estimated Completion Time :(in Hours) 
		</span>
		<section  ng-mouseover= "edit4= true;" ng-mouseout ="edit4=false;"class="col-xs-12 paddingRemove">
			<input type="number" name="days" min="1" ng-model="thistaskDays"  class="col-xs-12">
			
		</section>
		<section  ng-mouseover= "edit4= true;" ng-mouseout ="edit4=false;"class="col-xs-12 paddingRemove">
			<input type="button" class="col-xs-4 text-center addComment"  value="Submit"  ng-click="updateTask()" >
			
		</section>
   
