<div class="col-xs-3"  >
	
</div>
<div id="taskDetail" class="col-xs-6 " ng-show="anything" ng-init="anything= true;hello= true;">
	<header class="col-xs-12 paddingRemove" style="background:none; font-size:22px;">
		<div class="col-xs-11 paddingRemove">Task Details</div>
		<div class="col-xs-1 glyphicon glyphicon-remove paddingRemove text-right cross" ng-click="anything=false;"></div>
	</header>
	<div class="col-xs-12 paddingRemove taskInfo">
		<span class="col-xs-12 paddingRemove taskLabel"> Task Name : 
		</span>
		



		<section  ng-mouseover= "edit1= true;" ng-mouseout ="edit1=false;"class="col-xs-12 paddingRemove">
			<input type="text"  id="task1" class="col-xs-12 " value="Task2 "  readonly> 
			<span  id="span1" class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit"   ng-show="edit1" ng-click="change(1)"></span>
			</span>
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Description : 
		</span>
		<section  ng-mouseover= "edit2= true;" ng-mouseout ="edit2=false;"class="col-xs-12 paddingRemove">
			<input type="text"  id="task2" class="col-xs-12 " value="Task2 "  readonly> 
			<span  id="span2" class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit"   ng-show="edit2" ng-click="change(2)"></span>
			</span>
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Status : 
		</span>


		<section  ng-mouseover= "edit3= true;" ng-mouseout ="edit3=false;"class="col-xs-12 paddingRemove">
			<input type="text"  id="task3" class="col-xs-12 " value="Task2 "  readonly> 
			<span  id="span3" class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit"   ng-show="edit3" ng-click="change(3)"></span>
			</span>
		</section>
		<span class="col-xs-12 paddingRemove taskLabel"> Task Assigned To : 
		</span>

		<section  ng-mouseover= "edit4= true;" ng-mouseout ="edit4=false;"class="col-xs-12 paddingRemove">
			<input type="text"  id="task4" class="col-xs-12 " value="Task2 "  readonly> 
			<span  id="span4" class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit"   ng-show="edit4" ng-click="change(4)"></span>
			</span>
		</section>

































		<!-- <span class="col-xs-12 paddingRemove"> Task Name : 
		</span>
 		<section  ng-mouseover= "edit2= true;" ng-mouseout ="edit2=false;"class="col-xs-12 paddingRemove">
		<input type="text"  id="task2" class="col-xs-12 " value="Task2 "  readonly> 
		<span class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit" ng-show="edit2" ></span>
		</section>

		<span class="col-xs-12 paddingRemove"> Task Name : 
		</span>

		<section  ng-mouseover= "edit3= true;" ng-mouseout ="edit3=false;"class="col-xs-12 paddingRemove">
		<input type="text"  id="task3" class="col-xs-12 " value="Task2 "  readonly> 
		<span class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit"  ng-show="edit3" ></span>
		</section>

		<span class="col-xs-12 paddingRemove"> Task Name : 
		</span>
		<section  ng-mouseover= "edit4= true;" ng-mouseout ="edit4=false;"class="col-xs-12 paddingRemove">
		<input type="text"  id="task4" class="col-xs-12 " value="Task2 "  readonly> 
		<span class="col-xs-1 paddingRemove glyphicon glyphicon-edit text-right edit"  ng-show="edit4" ng-click=""></span>
		</section> -->
	</div>	
</div>
<div class="col-xs-3"></div>