<div id="userDetails"  ng-class="apply3"  >
  <form id="userEdit" novalidate>
    <img ng-src="{{thisPath}}" height="100px" width="100px" class="userImage">
    <input type="file" class="choose" ng-model="file" ng-file-select = "onFileSelect($files)"><br><br>
    <label class="userLabel" > First Name: </label>
    <input type="text" ng-model="userFName" class="userText">
    <label class="userLabel" > Last Name: </label>
    <input type="text" ng-model="userLName" class="userText">
    <label class="userLabel" > Designation: </label>
    <input type="text" ng-model="userPost" class="userText">
    <label class="userLabel" > Email: </label>
    <input type="text" ng-model="userEmail" class="userText" readonly>
    <label class="userLabel" > Phone no: </label>
    <input type="text" ng-model="userContact" class="userText">
    <label class="userLabel" > Skype Id: </label>
    <input type="text" ng-model="userSkypeId" class="userText">
    <input type="button" class="userButton" value="Save" ng-click="userUpdate()">
    <input type="button" class="userButton" style="margin-left: 68px;
    "value="Cancel" ng-click="userdetails=false;">
    
  </form>
</div>