<div id="userView"  ng-class = "apply3" ng-show="userview" >
  <div id ="imageDetail">
    <img ng-src="{{thisPath}}" height="100px" width="110px" style="float:left;margin:0px;" class="userImage">

    <div id="fourdetails">
    <span class="details1" style="font-weight:bold;" ng-bind="named" >
    </span>
    <span class="details1"  ng-bind="userEmail"></span>

    <span class="details1"  ng-bind="userContact"></span>

    <span class="details1"  ng-bind="userSkypeId"></span>
    </div>
  </div>
  <div id="usersecond">
  <span class="details1" ng-click="showUserDetails()"> Edit Your Profile</span>
   <span  ng-click="changePassword()" class="details1" > Change Password </span>
 <!--  <a   ng-click="logout()" class="logout" style="margin-left: -108px;font-size:14px;margin-top: 14px;float:left;width: 50px;height: 20px;padding: 4px;"> Logout </a> -->
  </div>
  <div id="userthird" ng-show="project">
  <span  class="details1"  ng-click="addMembers()">View Team Directory</span>
  </div>

  <div id="userfourth">
  <span   ng-click="logout()" class="details1" > Logout </span> 
  </div>
</div>