<div id="projectDetails"  class="col-xs-12"  >
	<projectname></projectname>
	<addmember></addmember>
	<div id="memberDetails" ng-show="memberdetails">
		<span class="details" style="font-size:20px;text-decoration:underline;"> Member - Details </span>
		<img ng-src="{{thisPath}}" height="100px" width="100px" class="userImage">
		<span class="details" style="margin-top:18px;" ng-bind="memName" ></span>
		<span class="details" style="margin-top:-4px;"  ng-bind="memEmail" ></span>
	</div>
	<div id="allTypes" class="col-md-8 col-sm-8 col-xs-12 paddingRemove" ng-init="tasks=[];progress=[{'title' : 'hello'}]" style="display: table-row;">
		<backlog></backlog>
		<progress1></progress1>
		<complete></complete>		
	</div>

		<!-- <div id="memberList" ng-show="members">
			<ul   class="ul-members" >
			 <li style="text-align:center;font-size:14px;color:grey;"> Member</li>
				<hr style="color:grey;margin:0px 2px;" >
				<li  id="{{$index}}" class="hello1" title="View Member Information" style="margin-top: 7px; cursor: pointer;" ng-repeat="member in allmembers track by $index" ng-click="showMemberDetails(member)">{{member}}
				</li>
			</ul>
		</div>
 -->
	<taskdetails></taskdetails>
</div>